@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    80% {
        transform: translateX(2rem);
    }
    100% {
        opacity: 1;
        transform: translateX(1);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    80% {
        transform: translateX(-2rem);
    }
    100% {
        opacity: 1;
        transform: translateX(1);
    }
}

@keyframes moveUp {
    0% {
        opacity: 0;
        transform: translateY(20vh);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}